.form {
  padding: 20px;
}

.form__headline {
  font-size: 1.2rem;
  font-weight: 300;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 0 auto;
}

.form__input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  margin-top: 7px;
  border-radius: 4px;
}

.form__input:focus {
  border-color: #0056b3;
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 86, 179, 0.2);
}

.form__button {
  width: 100%;
  padding: 12px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  margin-top: 15px;
}

.form__button:hover,
.form__button:active {
  background-color: #003580;
}

.form__label {
  margin-bottom: 20px;
}
